# Bibliotecas

In [1]:
from KNN import KNN
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Criando KNN

In [2]:
knn = KNN(vizinhos=1)

# Lendo Datasets

In [3]:
dataset = pd.read_csv("../data/iris.csv")

In [4]:
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Pegando os Valores X's

In [5]:
X = dataset.drop(columns=["Id", "Species"])
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

# Pegando os Valores Y's

In [6]:
Y = dataset["Species"]
Y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

# Criando Pedaços de Treino e Teste

In [7]:
X_treino, X_teste, Y_treino, Y_teste = train_test_split(X, Y, test_size=0.3, random_state=7)

In [8]:
knn.treinamento(X_treino, Y_treino)

# Observando os Prototipos Escolhidos

In [9]:
knn.prototipos

Os prototipos do grupo Iris-setosa são:
 - [4.3 3.  1.1 0.1]
Os prototipos do grupo Iris-versicolor são:
 - [5.  2.3 3.3 1. ]
Os prototipos do grupo Iris-virginica são:
 - [6.1 2.6 5.6 1.4]

# Predição

In [10]:
resultado = knn.predicao(X_teste)

# Observando Resultado

In [11]:
resultado

['Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-versicolor']

# Realizando Métricas

In [12]:
print(metrics.classification_report(Y_teste, resultado, digits=3))

                 precision    recall  f1-score   support

    Iris-setosa      1.000     1.000     1.000        12
Iris-versicolor      0.833     0.312     0.455        16
 Iris-virginica      0.593     0.941     0.727        17

       accuracy                          0.733        45
      macro avg      0.809     0.751     0.727        45
   weighted avg      0.787     0.733     0.703        45